<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077759558273-r2unq8eh5610mi52t1isu0rkf357qvum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077759558273-r2unq8eh5610mi52t1isu0rkf357qvum</string>
	<key>API_KEY</key>
	<string>AIzaSyBGwqkxeRebi9OwbQ6fjuDtJ5UJuGDgLSY</string>
	<key>GCM_SENDER_ID</key>
	<string>1077759558273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.indecosoft.homey</string>
	<key>PROJECT_ID</key>
	<string>homey-92399</string>
	<key>STORAGE_BUCKET</key>
	<string>homey-92399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077759558273:ios:d5afe4455a45df3ab90380</string>
	<key>DATABASE_URL</key>
	<string>https://homey-92399.firebaseio.com</string>
</dict>
</plist>